
<div class="col s6">
  <div class="card">
    <div class="card-image">
      <ng-content></ng-content>
      <span class="card-title">{{titulo}}</span>
    </div>
    <div class="card-content">
      <p>{{descricao}}</p>
    </div>
    <div class="card-action">
      <ng-content select="[btn]"></ng-content>
      <!-- <a class="btn-floating btn-large waves-effect waves-light green"><i class="material-icons">edit</i></a>
      <a href="#">Editar</a>
      <a class="btn-floating btn-large waves-effect waves-light red" (click)="delete($event)"><i class="material-icons">delete</i></a> -->
    </div>
  </div>
</div>