<section>
	<div class="container">
		<div class="row">
			<h1> login </h1>
		    <form class="col s12" (submit)="authentication($event)">
		      <div class="row">
		        <div class="input-field col s12">
		          <input id="email" type="email" name="email" class="validate" [(ngModel)]="user.email">
		          <label for="email">Email</label>
		        </div>
		      </div>
		      <div class="row">
		        <div class="input-field col s12">
		          <input id="password" type="password" name="password" class="validate" [(ngModel)]="user.password">
		          <label for="password">Password</label>
		        </div>
		      </div>
		      <button class="btn">login</button>
		    </form>
		</div>
	</div>
</section>
